.headerdiv {
    position: relative;
    width: 100%;
    height: 350px;
    background-image: linear-gradient(to left, rgba(36,35,111,255) , rgba(43,58,149,255));
    direction: rtl;
}

.headerupperdiv {
    position: relative;
    width: 90%;
    height: 50px;
    margin-right: 5%;
    margin-top: 30px;
    float: right;
}

.headerlogodiv {
    position: relative;
    width: 20%;
    height: 45px;
    float: right;
}

.headernamespan {
    position: relative;
    color: white;
    display: inline-block;
    top: -15px;
    margin-right: 10px;
    font-weight: bold;
    font-size: large;
}

.headermenudiv {
    position: relative;
    width: 60%;
    float: right;
    margin-top: 17px;
}

.headermenuspan {
    position: relative;
    width: 80;
    display: block;
    color: white;
    font-size: large;
    float: right;
    margin-right: 50px;
    float: right;
    cursor: pointer;
}

.headersignindiv {
    position: relative;
    width:20%;
    float: right;
}

.headersigninbutton {
    position: relative;
    width:90px;
    float: right;
    margin-right: 10px;
    background-color: #d8f8ff;
    border-style: none;
    font-size: 17px;
    font-weight:bold;
    border-radius: 5px;
    padding: 5px;
}

.headerlowerdiv {
    position: relative;
    width: 90%;
    margin-right: 5%;
    float: right;
}

.headerlowerrightdiv {
    position: relative;
    float: right;
    width: 60%;
    margin-top: 50px;
}

.headerimg {
    max-width: 60%;
    position: relative;
    margin-right: 100px;
    float: right;
}
.headernamediv {
    position: relative;
    width: 40%;
    margin-right: 65px;
    float: right;
    color:white;
}

.headerlowerleftdiv {
    position: relative;
    float: right;
    width: 18.5%;
    margin-right: 21.5%;
}

.headercontactimg {
    position: relative;
    margin-top: 150px;
    float: right;
}

.headercontactspandiv {
    position: relative;
    float: right;
    margin-top: 150px;
    margin-right: 15px;
}

.headercontactspan {
    position: relative;
    color: white;
    margin-top: 7.5px;
    float: right;
}


.productdiv {
    position: relative;
    width: 1100px;
    float: right;
    margin-right: calc((100% - 1100px) / 2);
    margin-top: 50px;
    direction: rtl;
}

.productinfopickdiv {
    position: relative;
    float: right;
    width: 500px;
}

.productinfodiv {
    position: relative;
}

.productpickdiv {
    position: relative;
    float: right;
    width: 500px;
    margin-top: 50px;
}

.productpicksrightdiv {
    position: relative;
    float: right;
    width: 185px;
    text-align: center;
    padding: 15px;
    border-style: solid;
    border-radius: 20px;
    border-color: #3572EF;
    margin-top: 15px;
    cursor: pointer;
}

.productpicksleftdiv {
    position: relative;
    float: right;
    width: 185px;
    margin-right: 50px;
    text-align: center;
    padding: 15px;
    border-style: solid;
    border-radius: 20px;
    border-color: #3572EF;
    margin-top: 15px;
    cursor: pointer;
}

.productpicksupperspan {
    position: relative;
    font-weight: bold;
}

.productpickslowerspan {
    position: relative;
    top: 7.5px;
}

.productimgdiv {
    position: relative;
    float: right;
    width: 500px;
    margin-right: 100px;
    margin-top: 100px;
}

.paymentdiv {
    position: relative;
    float: right;
    width: 1100px;
    margin-right: calc((100% - 1100px) / 2);
    margin-top: 20px;
    direction: rtl;
    text-align: center;
    border-style: dotted;
    border-radius: 10px;
    padding: 20px;
    border-color: #3572EF;
}

.paymentinfodiv {
    position: relative;
    float: right;
    width: 500px;
}

.paymentinfospan {
    position: relative;
    display: inline-block;
    margin-top: 25px;
}

.paymentinfoinput {
    text-align: center;
}

.paymentpaydiv {
    position: relative;
    float: right;
    width: 500px;
    margin-right: 100px;
}

.paymenthelpdiv {
    position: relative;
    float: right;
    width: 1100px;
    margin-right: calc((100% - 1100px) / 2);
    margin-top: 50px;
    direction: rtl;
}